@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Molle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* { /*Zerar os presets do css para ter controle da pagina*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1F1517;
    color: white;
}

html{ 
    font-family: Inter, sans-serif; /*Define conf padrão das fontes caso n tenha nd especifico*/
    font-weight: 500;
}

a{
    text-decoration: none; /*Evitar italico no link e outras decorações*/
    color: #FFF2E780;
}

a:hover { /*Mouse em cima*/
    color: white;
}

ul {
    list-style: none; /*Evitar decorações predef*/
}
.header{
    position: sticky;
    top: 0px;
    background: #241A1C;
    z-index: 10;
}

nav {
    max-width: 1120px; /*Largura maxima*/
    height: 110px;
    margin: auto;
    padding: 1.5rem 2rem; /*margem horizontal x vertical  (ANTES ERA 10 REM)*/

    display: flex;
    flex-direction: row; /*horizontal*/
    justify-content: space-between; /*separa o logo, menu e github*/
    align-items: center;
}

.logo { /*LOGO COFFEE PARADISE*/
    color: #FFF;
    font-family: Molle;
    font-size: 64px;
    font-weight: 400;
}

.menu{ /*Deixou horizontal e um espaço entre os itens*/
    display: flex;
    flex-direction: row;
    gap: 1.5rem; /*24px*/
    color: #FFF2E780;
}

.gitHubLogo{
    color: #FFF2E7;
    font-weight: 600;
}

main{
    display: flex;
    flex-direction: column; /*Organiza todo o conteudo da pag um embaixo do outro*/
}

.destaque{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.marrom {
    color: #A45A49;
}

.amarelo{
    color:#E7A80E;
}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /*FONTE MONTSERRAT*/
    font-size: 3.5rem;
    font-weight: 800;
}

/*hr{
    border-color: #A45A49
}*/

.banner {
    position: relative;
    background: linear-gradient(90deg, #181012 33.5%, rgba(27, 18, 20, 0.97) 48%, rgba(40, 27, 30, 0.84) 66%, rgba(126, 84, 95, 0.00) 100%);
    width: 100vw;
    height: 400px;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
    z-index: 1;
}

.retangulo{
    background: linear-gradient(90deg, #181012 33.5%, rgba(27, 18, 20, 0.97) 48%, rgba(40, 27, 30, 0.84) 66%, rgba(126, 84, 95, 0.00) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;

}

.banner-fundo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}

.banner-texto{
    margin-left: 70px;
    z-index: 2;
}
.welcome{
    color: #FFF;
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-img{
    width: calc(100% - 47px);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: auto;
    position: relative;
    padding-right: 0; 
    z-index: 2;
}

.btnNext, .btnPrev{
    position: absolute;
    top: 50%; /*Centro vertical*/
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: none;
    box-shadow: none;
    border: 0;
    outline: 0;
    border-radius: 10px;
    cursor: pointer;
    z-index: 3;
    display: block;
}

#btnNext:active, #btnPrev:active {
    outline: none;
    box-shadow: none;
}

.btnPrev {
    left: 10px;
}

.btnNext {
    right: 10px;
    transform: rotate(180deg);
}



/*<-----------CARDAPIO----------->*/

.cardapio{
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;

}

.cardapio-header{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cardapio-titulo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #FFF2E7
}

.cardapio-subtitulo{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    color: #C7BAB3;
}

.cardapio-card-container{
    padding: 0rem 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /*quebra o container quando chega no final e vai pra linha seguinte*/
    gap: 32px;
}

.cardapio-card{
    background: #241A1C;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 29rem;
    margin-top: 32px;
}

.cardapio-card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end; /*alinha os itens no */
}

.cardapio-card-header-details{
    display: flex;
    flex-direction: column; /*um em cima do outro*/
    gap: 0.5rem;
}

.cafe1-titulo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #FFF2E7
}

.cardapio-avaliacao{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    color: #756A67;
}

.cardapio-cli1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

}

.cardapio-cli1 > img{
    border-radius: 1000px;
    width: 1.5rem;
}

.cardapio-cli1-nome{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    color: #C7BAB3;
}

.footer{
    padding: 64px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0.5rem;
    background: #23181A;
}

.footer-copy{
    color: #FFF2E7;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}

.footer-autor{
    color: brown;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
}