@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Molle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* { /*Zerar os presets do css para ter controle da pagina*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #D3D3D3;
    color: black;
}

html{ 
    font-family: Inter, sans-serif; /*Define conf padrão das fontes caso n tenha nd especifico*/
    font-weight: 500;
}

a{
    text-decoration: none; /*Evitar italico no link e outras decorações*/
    color: #FFF2E780;
}
a:hover { /*Mouse em cima*/
    color: white;
}

ul {
    list-style: none; /*Evitar decorações predef*/
}
.header{
    position: sticky;
    top: 0px;
    background: #241A1C;
    z-index: 10;
}
nav {
    max-width: 1120px; /*Largura maxima*/
    height: 110px;
    margin: auto;
    padding: 1.5rem 2rem; /*margem horizontal x vertical  (ANTES ERA 10 REM)*/

    display: flex;
    flex-direction: row; /*horizontal*/
    justify-content: space-between; /*separa o logo, menu e github*/
    align-items: center;
}

.logo { /*LOGO COFFEE PARADISE*/
    color: #FFF;
    font-family: Molle;
    font-size: 64px;
    font-weight: 400;
}
.menu{ /*Deixou horizontal e um espaço entre os itens*/
    display: flex;
    flex-direction: row;
    gap: 1.5rem; /*24px*/
    color: #FFF2E780;
}
.gitHubLogo{
    color: #FFF2E7;
    font-weight: 600;
}

main{
    display: flex;
    flex-direction: column; /*Organiza todo o conteudo da pag um embaixo do outro*/
    
}

.destaque{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.marrom {
    color: #A45A49;
}
.amarelo{
    color:#E7A80E;
}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /*FONTE MONTSERRAT*/
    font-size: 3.5rem;
    font-weight: 800;
}

/*<------------HEADER--------------->*/
.banner {
    position: relative;
    background: linear-gradient(90deg, #181012 33.5%, rgba(27, 18, 20, 0.97) 48%, rgba(40, 27, 30, 0.84) 66%, rgba(126, 84, 95, 0.00) 100%);
    width: 100vw;
    height: 300px;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
    z-index: 1;
}

.retangulo{
    background: linear-gradient(90deg, #181012 33.5%, rgba(27, 18, 20, 0.97) 48%, rgba(40, 27, 30, 0.84) 66%, rgba(126, 84, 95, 0.00) 100%);
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 1;
}

.banner-fundo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}

.banner-texto{
    margin-left: 70px;
    z-index: 2;
}
.welcome{
    color: #FFF;
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-img{
    width: 100vw;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: auto;
    position: relative;
    padding-right: 0; 
    z-index: 2;
}

.btnNext, .btnPrev{
    position: absolute;
    top: 50%; /*Centro vertical*/
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: none;
    box-shadow: none;
    border: 0;
    outline: 0;
    border-radius: 10px;
    cursor: pointer;
    z-index: 3;
    display: block;
}

#btnNext:active, #btnPrev:active {
    outline: none;
    box-shadow: none;
}

.btnPrev {
    left: 10px;
}

.btnNext {
    right: 90px;
    transform: rotate(180deg);
}

/*<----------FILTROS SELEÇÃO-------->*/

.sele-produt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    margin: 10px 0;
    width: 100%;
}
.filter-box {
    flex: 1; /*Faz com que todos os box tenham proporções iguais*/
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border: 2px solid transparent;
    /*overflow: hidden;*/
    position: relative;
    cursor: pointer;
}

.filter-box button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column; /* Imagem e texto empilhados */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    padding: 0;
    position: relative; /* Necessário para controle de z-index */
}

.filter-box img{
    width: 43%;
    height: auto;
    margin-bottom: 40px;
    background-color: transparent;
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.5));
    z-index: 2;
}
.filter-box span{
    color: #797979;
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    font-weight: bold;
    text-align: center;
    position: absolute; 
    bottom: 6px;
    z-index: 1;
}
.filter-box.FiltroSelecionado {
    background-color: #d2691e;
}

.filter-box.FiltroSelecionado span {
    position: absolute;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    top: 25%;
    color: #000;
    font-family: Montserrat;
    font-size: 55px;
    z-index: 1;
}
.filter-box.FiltroSelecionado span2 {
    position: absolute;
    top: 25%;
    font-size: 55px;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke:2px black;
    -webkit-text-fill-color:transparent;
    z-index: 5;
    text-align: center;
    width: 100%;
   /* transform: translateY(-10%);*/
}
.filter-box.FiltroSelecionado img{
    width: 43%;
    height: auto;
    margin-bottom: 10px;
    background-color: transparent;
    z-index: 2;
}

.filter-box:hover {
    transform: scale(1.05);
}

/*<-----------CARDAPIO----------->*/

.cardapio{
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 1rem 2rem;
    margin: auto;
}

.cardapio-header{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cardapioTitulo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: black;
}

/*
.cardapio-container{
    color: black;
    background: #D4BEB9;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 29rem;
    margin-top: 32px;
}*/

.card-wrapper{
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    display: flex;
    overflow: hidden;
}
.card-list{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}
.aException{ /*Gambiarra pra não alterar tag <a>*/
    color: black;
}
.aException:hover{
    color:#d2691e;
    font-weight: bold;
}
.cardapio .card-list .card-link{
    width: 400px;
    display: block;
    background-color: white;
    padding: 18px;
    text-decoration: none;
    border-radius: 12px;
    border: 2px solid transparent;
    transition: 0.2s ease;
}

.cardapio .card-list .card-link:hover{
    border-color:#241A1C;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.07);
}

.card-list .card-item{
    list-style: none;

}

.cardapio .card-list .card-item img{
    width: 100%;
    object-fit: cover;
}

.footer{
    padding: 64px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0.5rem;
    background: #23181A;
}
.footer-copy{
    color: #FFF2E7;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}
.footer-autor{
    color: brown;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
}